img.main {
  width: 300px;
  height: 400px;
}
.important {
  color: red;
  font-weight: bold;
}
.columns {
  width: 300px;
  float: left;
  padding: 30px;
  border: 2px solid blue;
  margin: 12px;
}
h1 {
  color: teal
}
h2 {
  color: orange
}

.columns h3 {
  font-size: 36px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: : column;
}
