.my-class{
  border: 2px solid green;
  padding: 4px;
  margin: 12px;
  background-color: orange;
}
.class1{
margin-top: 60px;
margin-bottom: 60px;
background-color: orange;
}
.class2{
margin-top: 60px;
margin-bottom: 60px;
background-color: orange;
}
.class3{
margin-top: 60px;
margin-bottom: 60px;
background-color: orange;
}
